.button{
    background-color: rgb(1 2 16);
    color:rgb(137 183 241);
    width: 44%;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    margin-left: 90px;
    height: 40px;
}
.login{
    width: 100%;
    margin-right: 10px;
}

.icon {
    font-size: 34px; 
    padding-left: 8px;
  }